html{
    background-image: url(https://github.com/ibsavage/ibsavage.github.io/blob/master/assets/images/abstract-cloudy-sky-textures-3.jpg?raw=true);
    background-size: auto auto;
    background-repeat: no-repeat;
}
body {
    background-color: #6c7a89;
    width: 600px;
    margin: 20px auto;
    /*center*/
    padding: 20px;
    border: 1px solid black;
}
